//----------------------------------------------Footer-----------------------------------------------
.footer-cont{
  width: 100%;
  background-color: @colorFooterBackground;
  color: @colorFooterBackText;
  margin-top: 70px;
  text-align: center;
  h2{
      text-align: center;
      width: 100%;
      color: @colorFooterTitles;
      font-size: 32px;
  }
}
.footer-title{
  text-align: center;
  display: block;
  font-size: 30px;
  letter-spacing: 1px;
}
.footer-logo{
  display: block;
  margin: 10px 0px 10px 0px ;
  text-align: center;
  color: @colorFooterBackText;
  font-size: 30px;
  span{
    font-size: 14px;
  }
}
.footer-rigths{
  display: block;
  text-align: center;
  font-size: 14px;
}
.contact{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
      font-size: 35px;
      color: @colorPrimaryLigth;
  }
  span{
    font-size: 22px;
    margin-left: 10px;
    color: @colorPrimaryText;
  }
}