//----------------------------------------------Nav-----------------------------------------------
.nav-div{
  width: 100%;
  margin-bottom: 35px;
}
.to-home{
  display: block;
  margin: 10px auto 10px auto ;
  text-align: center;
  width: 170px;
  color: @colorNavLogo;
  font-size: 30px;
  span{
    font-size: 14px;
  }
}
.nav-btn{
  width: 98%;
  background-color: @colorNavButtons;
  margin: 10px auto 10px auto ;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: @colorNavNavButtonsText;
  font-size: 16px;
  cursor: pointer;
  &:hover{
    background-color: @colorNavButtonsLigth;
  }
}
.nav-border{
  outline: @colorNavNavButtonsText solid 1px;
}
//----------------------------------------------Footer-----------------------------------------------
.footer-cont{
  width: 100%;
  background-color: @colorFooterBackground;
  color: @colorFooterBackText;
  margin-top: 70px;
  text-align: center;
  h2{
      text-align: center;
      width: 100%;
      color: @colorFooterTitles;
      font-size: 32px;
  }
}
.footer-title{
  text-align: center;
  display: block;
  font-size: 30px;
  letter-spacing: 1px;
}
.footer-logo{
  display: block;
  margin: 10px 0px 10px 0px ;
  text-align: center;
  color: @colorFooterBackText;
  font-size: 30px;
  span{
    font-size: 14px;
  }
}
.footer-rigths{
  display: block;
  text-align: center;
  font-size: 14px;
}
.contact{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
      font-size: 35px;
      color: @colorPrimaryLigth;
  }
  span{
    font-size: 22px;
    margin-left: 10px;
    color: @colorPrimaryText;
  }
}
//-----------------------------------------------HOME---------------------------------------------
.h-title{
  color: @colorPrimaryText;
  text-align: center;
  font-size: 88px;
  span{
      font-size: 22px;
  }
}
.home-container{
  width: 90%;
  margin: 45px auto 0px auto;
}
.carousel-cont{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 25px;
  display: block;
}
.steps-title{
  font-size: 38px;
  text-align: center;
  margin-top: 35px;
  color: @colorPrimaryLigth;
  span{
    color: @colorPrimaryText;
  }
}
.destacados-cont{
  h1 {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    color: @colorPrimary;

}
h1:before, h1:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: @colorSecundaryText;
    margin-left: 1.7%;
}
h1:before {
    margin-left: -51.5%;
    text-align: right;
}
.color {
    background-color: #ccc;
  }
}
//-------------------------------------------------------PRODUCTOS------------------------------------------------
.orden-container{
  width: 90%;
  margin: 15px 5% 25px 5%;
  padding: 20px;
  h4{
    color: @colorPrimaryText;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
  }
}
.products-cont{
  margin: 45px auto 35px auto;
  width: 90%;
}
.items-comtainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-box-container{
  background-color: #ffffff;
  border-radius: 3px;
  margin: 25px 0px 0px 0px;
  font-size: 16px;
  width: 300px;
  height: 350px;
}
.product-box-img-container{
  margin: 0px auto 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 300px;
  height: 230px;
}
.product-box-promo{
  span{
    color: @colorPrimaryText;
    font-size: 18px;
    font-weight: bold;
    display: block;
    transform: rotate(-20deg);
    /* Legacy vendor prefixes that you probably don't need... */
    /* Safari */
    -webkit-transform: rotate(-20deg);
    /* Firefox */
    -moz-transform: rotate(-20deg);
    /* IE */
    -ms-transform: rotate(-20deg);
    /* Opera */
    -o-transform: rotate(-20deg);
  }
  // box model and position for promo
  display: block;
  padding-top: 16px;
  width: 60px;
  height: 60px;
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,0.8701680501302084) 0%, rgba(206,66,222,1) 32%, rgba(2,0,36,1) 100%);
  border-radius: 50%;

  position: absolute;
  top: 10px;
  right: 50px;
}
.product-box-title-container{
  display: block;
  color: @color_darkSemiLigth;
  width: 100%;
  height: 30px;
  h5{
    font-size: 19px;
    color: rgb(61, 61, 61);
    span{
      font-weight: bold;
    }
  }
  /* Required for text-overflow to do anything */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.product-box-price-container{
  display: block;
  color: @color_darkSemiLigth;
  width: 100%;
  height: 25px;
  font-size: 15px;
}
.product-box-before{
  color: #fa9d24;
  text-decoration: line-through;
  text-decoration-color: #fa9d24;
}
.product-box-avilable-container{
  font-size: 14px;
  display: block;
  color: @color_darkSemiLigth;
  width: 100%;
  height: 25px;
}
.product-box-belt{
  display: block;
  color: #ffffff;
  background-color:  rgba(114, 114, 114, 0.8);
  border: 1px solid #83e428;
  border-radius: 10px;
  margin: 8px 5px 0px 5px;
}
.search-item-special{
  color: rgb(184, 49, 161);
  font-weight: bold;
  text-align: left;
  font-size: 18px;
  margin: 10px;
}
.search-item-price{
  color: @color_darkSemiLigth;
  text-align: right;
  margin: 10px;
  font-size: 19px;
  &-promo{
    text-decoration: line-through;
    color: @color_darkSemiLigth;
    text-align: right;
    margin: 10px;
    font-size: 19px;
  }
}
.search-item-left{
  color: rgb(184, 49, 161);
  font-size: 19px;
  position: relative;
  top: -20px;
  span{
    color: rgb(48, 44, 44);
  }
}
